*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    scrollbar-color: #720000 #bd9c3b;
}

h1{
    background-color: #720000;
    color: #bd9c3b;
    padding: 1rem;
    text-transform: uppercase;
    border-bottom: solid #bd9c3b;
}

.holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    font-family: monospace;
    height: 100%;
}
  
.container {
    display: flex;
    overflow: auto;
    flex: none;
}

.container.y {
    width: 100%;
    height: 44.8rem;
    flex-flow: column nowrap;
}

.y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.container > div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
}

.y.container > div {
    width: 100%;
    height: 100%;
}

.container.x {
    width: 100%;
    height: 44.8rem;
    flex-flow: row nowrap;
}

.x.mandatory-scroll-snapping {
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.x.container > div {
    width: 100%;
    height: 100%;
}

img,video{
    height: 600px;
}

li{
    list-style: none;
}

h2{
    color: #054581;
    text-transform: uppercase;
    font-size: 1.7rem;
}



@media screen and (max-width:660px) {
    img,video{
        height: 500px;
        width: 375px;
    }

    #long{
        width: 390px;
    }
}